{% extends 'base.html.twig' %}

{% block title %}Modification du profil de {{ app.user.getFirstName() }}{% endblock %}


{% block body %}

    <section class="section-title">
        <h1>Modification du profil de {{ app.user.getFirstName() }} {{ app.user.getLastName() }} </h1>
    </section>

    <section class="container-form">
        <div class="row">
            <div class="col">

                <fieldset class="mb-3">

                    {{ form(editForm) }}

                </fieldset>

            </div>
        </div>
    </section>


{% endblock %}

