{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe de {{ app.user.getFirstName() }}{% endblock %}


{% block body %}

    <section class="container" style="width:50%">

        <div class="row">

                <h1 class="h3 mb-3 font-weight-normal">Modification du mot de passe de {{ app.user.getFirstName() }} {{ app.user.getLastName() }} </h1>


                {% for message in app.flashes('success') %}
                    <div class="p-3 text-success-emphasis bg-success-subtle  border border---bs-success-bg-subtle rounded-3">                        {{ message }}
                    </div>
                {% endfor %}

            <!--
              <fieldset class="mb-3">
                <legend>Mes Informations :</h4>
                </legend>

                {# form(editForm) #}


            </fieldset>-->




                <form class="mb-3">
                    <table>
                        <tr>
                            <label for="pass">Mot de passe</label>
                            <input type="password" id="pass" name="pass" class="form-control"></input>
                        </tr>
                        <tr>
                            <label for="pass">Confirmer le mot de passe</label>
                            <input type="password" id="pass2" NAME="pass2" class="form-control"></input>
                        </tr>
                        <tr>
                            <button class="btn btn-dark my-sm-2" type="submit">
                                Modifier
                            </button>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </section>


{% endblock %}

