{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <section class="section-title">
        <h1>Réinitialisation du mot de passe</h1>
    </section>
    <section class="container-form">
        <div class="row">
            <div class="col">
                {{ form_start(requestPasswordForm) }}
                    {{ form_row(requestPasswordForm.email) }}
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                {{ form_end(requestPasswordForm) }}
            </div>
        </div>
    </section>

{% endblock %}