<img src="{{ asset('') }}" alt="">



<nav class="navbar navbar-dark bg-dark navbar-expand-lg" style="z-index: 0;">

    <!-- Brand -->
    <a class="navbar-brand" href="index.html">
        <i class="fa-duotone fa-sandwich"></i>
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="container-fluid">
        <a class="navbar-brand" href="#">MAPS ton sandwich</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse">

        <!-- Navigation -->
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Créer Mon SandW</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Favoris</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Actualité</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarAccount" data-bs-toggle="dropdown" href="{{ path('app_feed') }}" aria-haspopup="true" aria-expanded="false">
                    FEED
                </a>
            </li>
        </ul>

        <!-- Button -->
        <button type="button" class="navbar-btn btn btn-sm ms-auto btn-outline-warning" href="{{ path('app_login') }}">Log in</button>
        <button type="button" class="navbar-btn btn btn-sm ms-auto btn-outline-warning" href="{{ path('app_registration') }}">Sign up</button>


    </div>

</nav>



