{% extends "base.html.twig" %}

{% block title %}Ajout des publications{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>Ajouter une Publication</h1>
                {% include "publication/_form.html.twig" %}
            </div>
        </section>
    </main>
{% endblock %}