{% extends 'base.html.twig' %}

{% block title %}Home - MAPS!{% endblock %}


{% block header %}

    {% include 'fragments/header.html.twig' %}

{% endblock %}

{% block body %}

        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
            <div class="col-md-5 p-lg-5 mx-auto my-5">
                <h1 class="display-4 font-weight-normal">Le Concept</h1>
                <p class="lead font-weight-normal">
                    Maps Ton Sandwich est né d'une idée simple :
                    remplir son casse-croûte d'ingrédients locaux,<br> de qualité, et qui régalent !<br><br>
                    Pour mapper ton sandwich, choisis les compositions qui te plaisent, ajoute les au panier et on s'occupe du reste.<br><br>
                    Alors, prêt(e) à mapper l'expérience ?
                </p>
                <a class="btn btn-outline-secondary" href="{{ path('app_sandwich') }}">Commencer</a>
            </div>
            <div class="product-device box-shadow d-none d-md-block"></div>
            <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
        </div>

{% endblock %}

