{% extends 'base.html.twig' %}

{% block title %}Réservations{% endblock %}


{% block body %}
    <section class="bg-light p-3">
        <h1>Réservez votre place dans notre restaurant<h1>
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Date de réservation</th>
                <th scope="col">Table</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% if reservations %}
                {% for reservation in reservations %}
                    <tr>
                        <td>{{ reservation.dateTimeReservation | date("d/m/Y m:h") }}</td>
                        <td>Table {{ reservation.getResaTable.id }}</td>
                        {% if app.user %}
                        <td>
                                <a class="btn btn-secondary"  href="{{ path('app_booking_reservation', {id: reservation.id}) }}">
                                    Réservez ma place
                                </a>
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% else %}
            <p>Aucune réservation disponible...</p>
            {% endif %}
            </tbody>
        </table>
        {% if app.user is same as(null) %}
            <button type="button" class="btn btn-secondary" onclick="location.href='{{ path('app_login') }}'">Me connecter</button>
        {% endif %}
    </div>
    </section>

{% endblock %}