{% extends 'base.html.twig' %}

{% block title %}Réservations{% endblock %}


{% block body %}
    <section class="section-title">
        <h1>Réservez votre place dans notre restaurant<h1>
    </section>
    <div class="container">
        {% if app.user %}
            <button type="button" class="btn btn-secondary" onclick="location.href='{{ path('app_publication_add') }}'">Réservez ma place</button>
        {% else%}
            <button type="button" class="btn btn-secondary" onclick="location.href='{{ path('app_login') }}'">Me connecter</button>
        {% endif %}

        <p> Coming soon...</p>
    </div>

{% endblock %}