/*css pour le homepage*/
.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

/*bouton commencer*/
.start{
    transition: all 0.9s ease 0s;
}

.start:active{
    transform:translateY(8px);  /*press effect on click*/
}

.start span{
    cursor:pointer;
    display:inline-block;
    position:relative;
    transition:0.5s;
}

.start span:after{
    content:'\261e'; /*petite flèche on hover*/
    position:absolute;
    opacity:0;
    top:0;
    right:-20px;
    transition:0.5s;
}

.start:hover span{
    padding-right:25px;
}

.start:hover span:after{
    opacity:1;
    right:0;
}

a{
    text-decoration:none;
    color:black;
}

#mapId {
    height: 500px;
    width: 100%;
}

/* css pour le feed*/
.card{
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 50px ;
    width: 100%;
    border: 1px solid;
    padding: 10px;
    background-color: whitesmoke;
}

h1{
    text-align:center;
}

/*css pour les publications du profil*/
.img-publi{
    height:auto;
    width:20%;
}

.container-publi .button-publi{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: white;
    padding: 50% 50%;
    border: none;
    cursor: pointer;
}

.container-publi {
    position: relative;
    width: 20%;
}

.container-publi img {
    width: 100%;
    height: auto;
}

/*css pour le caroussel*/
.carousel .carousel-item {
    height: 250px;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 250px;
}

/*login & sign up*/
.container-form {
    width: 50%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    margin-right: auto;
    margin-left: auto;
}

/*titres*/
.section-title{
    padding-top: 4%;
    padding-bottom: 4%;
    font-family: "Goudy Old Style", serif;
}

/*flash d'alert*/
.alert{
    margin-bottom: 0;
}

/*mapping buttons*/
#group-button {
    width:100%;
    height: 500px;
    text-align: center;
}

.inner {
    display: inline-block;
    height:400px;
    width: 30%;
    transition: transform .2s; /* Animation */
}

.inner:hover {
    transform: scale(1.2);
}

.inner:active{
    transform:scale(1.1);  /*press effect on click*/
}

.mapping {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    color: whitesmoke;
    opacity: 0.6;
    font-size: xx-large;
    background: violet;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 5px;
}

.mapping:hover {
    opacity: 1
}

/*random form*/
.random-form{
    width: 100%;
    height: 200px;
}

.random-form input[type="checkbox"] {
    position: relative;
    display: inline-block;
    min-height: 170px;
    width: 30%;
    background: #ebebeb;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.random-form input[type="checkbox"]:after {
    content: '';
    font-size: 2em;
    text-align: center;
    line-height: 70px;
    color: #555555;
    position: absolute;
    margin: auto auto;
    left: 0; right: 0; bottom: 0; top: 0;
    display: block;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffffff;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.random-form input[type="checkbox"]:before {
    position: absolute;
    margin: auto auto;
    left: 0; right: 0; bottom: 0; top: 0;
    content: '';
    display: block;
    height: 80px;
    width: 80px;
    border: 2px solid #fff;
    border-radius: 50%;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

.random-form input[type="checkbox"]:hover:before {
    height: 60px;
    width: 60px;
}

.random-form input[type="checkbox"]:checked:before {
    height: 100%;
    width: 100%;
    background: #dd3455;
    border: none;
    border-radius: 0;
}

.random-form input[type="checkbox"]:focus {
    outline: none;
}

.random-form input[type="checkbox"].pain:after { content: 'pain'; }
.random-form input[type="checkbox"].b:after { content: 'B'; }
.random-form input[type="checkbox"].c:after { content: 'C'; }


.random-form input[type="checkbox"]:checked:after { content: '✓'; }