{% extends 'base.html.twig' %}

{% block title %}Sandwichs traditionnels{% endblock %}

{% block body %}

    <div class="container">
    <h1>Sandwichs traditionnels</h1>
        <div class="row">
            {% for originalSandwich in orginalsSandwichs %}
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ asset('images/imgtest.webp')}}" class="card-img-top" alt="photo pour le test">
                        <div class="card-body">
                            <h5 class="card-title">{{ originalSandwich.Name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
    {% endfor %}
        </div>
    </div>

{% endblock %}
