{% extends 'base.html.twig' %}

{% block title %} cancel payment
{% endblock %}

{% block body %}
<section>
    <p>Forgot to add something to your cart? Shop around then come back to pay!</p>
</section>
{% endblock %}